.container-1,
.container-2 {
    background-color: #ffd;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container-1,
.flex-box-container-2 {
    border: 1px solid #000;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
}

.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
}

.container-2 {
    background-color: #fdf;
}

#flex-box-result-2 {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#flex-box-result-2 div {
    margin: 10px;
    width: 250px;
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
}

#flex-box-result-2 div img {
    width: 100%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}